.productCard {
  margin: 0 auto 10rem;
  max-width: 80rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  .hero {
    display: block;
    width: 40rem;
    margin: 2rem auto;

    img {
      display: block;
      width: 100%;
      margin: 0;
    }
  }

  .productDetails {
    width: 40rem;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
    ul,
    ul li {
      padding: 0;
      margin: 0;
    }

    ul li {
      list-style-type: none;
      margin: 0 auto 1rem;

      h1 {
        margin: 0;
      }
    }
  }

  .addToCart {
    max-width: 20rem;
  }
}
