.btn {
  display: block;
  width: 20rem;
  height: 6rem;
  line-height: 6rem;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: bold;
  color: rgb(29, 29, 29);
  border: 1px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  background: #ffc107;
  border-radius: 1.2rem;
  cursor: pointer;

  span {
    position: relative;
    z-index: 2;
  }

  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #58420234;
    transition: all 0.35s;
    border-radius: 1.2rem;
  }

  &:hover {
    color: white;
  }

  &:hover:after {
    width: 100%;
  }
}
