.header {
  height: 9rem;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.616);
  background-color: rgb(87, 86, 86);

  .wrap {
    max-width: 1450px;
    height: 100%;
    margin: 0 auto;
    position: relative;

    .logo {
      width: 10rem;
      position: absolute;
      left: 50px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);

      img {
        display: block;
        width: 100%;
        margin: 0;
      }
    }
    .callToActions {
      position: absolute;
      right: 30px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);
      ul,
      li {
        margin: 0;
        padding: 0;
      }
      li {
        list-style-type: none;
        a {
          font-size: 1.8rem;
          line-height: 1;
          color: black;
          text-decoration: none;
        }
      }
    }
  }
}
