* {
  background-color: #373737;
}

div.space {
  height: 3em;
}

#main-app {
  height: 125vh;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 0px) {
  #main-app {
    height: 150vh;
  }
}
@media screen and (min-width: 600px) {
  #main-app {
    height: 110vh;
  }
}
@media screen and (min-width: 1200px) {
  #main-app {
    height: 100vh;
  }
}

#main-content {
  flex: 1;
}
