.construct {
  height: 100%;
  margin-top: 20vh;
}
h1 {
  color: white;
  text-align: center;
}

img {
  width: 40vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 10rem;
}

@media screen and (min-width: 0px) {
  h1 {
    font-size: 40px;
  }
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 40px;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 50px;
  }
}
